include README.md
include LICENSE
include CHANGELOG.md
include requirements.txt
recursive-include fr *.md
recursive-include docs *.md *.py *.txt
recursive-include res *.png
recursive-include ketu/data *.npz
global-exclude __pycache__
global-exclude *.py[co]
